#show-list {
    width: 80%;
    max-width: 670px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 3px 8px rgb(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.show-ele {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    padding: 5px 0;
    border: 1px solid #e8e8e8;

}

.show-ele:hover .delete {
    display: flex;
}

.mark {
    margin-left: 5px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    color: #7fcebf;
}

.text {
    padding: 5px 10px;
    padding-left: 25px;
    text-align: justify;
    word-break: break-all;
    font-size: 24px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.delete {
    display: none;
    margin-right: 5px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: #cc9a9a;
    cursor: pointer;
}

.delete:hover {
    color: #cc6a7a;
}

#editable {
    width: calc(80vw - 40px);
    max-width: 630px;
    padding: 5px;
    margin-left: 40px;
    font-size: 24px;
}

#show-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    position: relative;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);

}

#show-footer::before {
    content: '';
    position: absolute;
    width: calc(100% - 8px);
    height: 3px;
    bottom: -6px;
    left: 3px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    background-color: white;
}

#show-footer::after {
    content: '';
    position: absolute;
    width: calc(100% - 12px);
    height: 3px;
    bottom: -10px;
    left: 5px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    background-color: white;
}

#show-footer button {
    padding: 3px 8px;
    margin: 0 5px;
    font-size: 15px;
    border: none;
    background-color: transparent;
}

@media only screen and (max-width:600px) {
    #show-list {
        width: 100%;
    }
    #editable{
        width: calc(100vw - 40px);
    }
}